body{
	margin: 0;
	padding: 0;
	font-family: "SimSun";

	font-size: 0;
	background-color: #eee;
}
p{
	text-indent: 2em;
}
a{
	text-decoration: none;
	color: #000;
}




/*index.html*/
.main{
	width: 980px;
	margin: 0 auto;
	/*background-color: #000;*/
}


#header *{
	color: #fff;
	text-decoration: none;
}
#header{
	position: relative;

	height: 80px;

	background-color: #607;
}
#title{
	position: relative;
	height: 80px;
}

#logo{
	position: absolute;
	bottom: 5px;
	left: 0;

	font-size: 30px;
	line-height: 100%;
}
#header_menu{
	position: absolute;
	bottom: 5px;
	right: 0;
}
#header_menu a{
	font-size: 14px;

	margin-left: 28px;
}
.icon{
	position: absolute;
	right: 10px;
	bottom: 0;
}
@media (max-width: 980px){
    .icon{
        display: none;
    }
}


#bg_container img{
	width: 100%;
}
#text_wrap{
	position: relative;
}
#text{
	position: absolute;
    bottom: 0;
    right: 0;

	width: 400px;

	padding: 10px 10px 30px 10px;

	background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.5) 75%,rgba(255,255,255,0))
}
#text h1{
	text-align: right;
	margin-bottom: 12px;

	font-size: 14px;
}
#text p{
	line-height: 150%;

	font-size: 12px;
}


#content{
	display: flex;
}
.postcard{
	flex:1;
	width: 320px;
	margin: 10px auto 100px auto;

	background-color: #fff;
}
#content div:not(:first-child){
	margin-left: 10px;
}
.postcard img{
	width: 300px;
	height: 180px;

	display: block;
	margin: 10px auto 15px auto;
}
.postcard p{
	padding: 0 30px 25px 30px;

	font-size: 12px;
	line-height: 170%;
}



#ins_container{
	background: #fff;
}
#ins{
	width: 600px;
	text-align: center;
	padding-bottom: 200px;
}
#ins img,#ins h1{
	margin-bottom: 50px;
}
#ins img{
	width: 160px;
	height: 160px;
	border-radius: 80px;

	margin-top: -50px;
}
#ins h1{
	font-size: 20px;
	font-family: "century fothic";
}
#ins p{
	text-align: left;

	font-size: 14px;
}


#footer{
	clear: both;

	background-color: #000;
	color: #ddd;
}
#footer a{
	font-size: 12px;

	color: #fff;
}
#footer h2{
	font-size: 12px;
	font-weight: normal;
}
#contact{
	text-align: center;
}
#footer_menu{
	padding: 10px 0;
}
#footer_menu a{
	text-decoration: none;
}
#footer_menu a:not(:first-child){
	margin-left: 2em;
}
#link{
	display: flex;

	text-align: left;

	margin: 40px 0 100px 0;
}
#link nav{
	flex:1;
}
#link h2{
	margin-bottom: 30px;
}
#link a{
	font-size: 10px;
	font-family: sans-serif;

	line-height: 170%;
}

#copyright h2{
	line-height: 200%;
}



/*blog.html*/
.clear{
	clear: both;
	visibility: hidden;
}
#blog_main{
	margin: 10px auto 300px auto;

	font-size: 10px;
}
.blog_content{
	width: 700px;

	float:left;
}
.blog_sidebar{
	width: 270px;

	float: right;

	color: #999;
}
.main_block{
	margin-top: 10px;
	padding: 10px;

	background: #fff;
}



.article h1{
	font-size: 16px;
}
.article h2{
	font-size: 12px;
	color: #666;
}
.article_footer{
	text-align: right;
	color: #999;
}
.tab{
	float: left;
	width: 60px;
	left: 0;
	margin-left: -70px;
	margin-top: 50px;

	background: #ccc;
	font-size: 16px;
	text-align: center;
}

.num_wrap{
	text-align: center;
	font-size: 0;
}
.num{
	display: inline-block;

	margin: 10px 5px;
	padding: 15px;

	background: #fff;
	font-size: 10px;
}
.num_unvalid{
	color: #999;
}
.num_now{
	background: #608;
}
.num_now a{
	color: #fff;
}


.search{
	position: relative;

	height: 30px;
	
	margin: 20px;
	padding: 2px;

	border: 1px solid #ccc;
}
.keyword{
	position: absolute;
	top: 0;

	height: 30px;

	border: none;
	outline: medium;

	background-image: url("../img/search.png");
	background-size: 34px;
	background-repeat: no-repeat;
}
.keyword:focus{
	background-image: none;
}
.submit{
	position: absolute;
	top: 0;
	right: 0;

	width: 40px;
	height: 34px;

	background: #ccc;
	color: #fff;
	border: none;
}

.sidebar_type{
	padding: 0;

	border-top: 1px solid #eee;
	background: #eee;
}
.type{
	line-height: 40px;
	font-size: 16px;

	padding-left: 1em;
	margin-top: 1px;

	border-left: 5px solid #c5f;
	background: #fff;
	color: #999
}
.type:hover{
	border-left: 5px solid #608;
}


.calendar{
	width: 230px;
	height: 230px;
	padding-left: 20px;
	text-align: center;
}
.calendar th{
	color: #608;
}
.shadow{
	background: #608;
	color: #fff;
}
.emphasis{
	font-weight: bold;
	color: #608;
}

.tag_item{
	margin-top: 20px;

	color: #608;
}
.x-large{
	font-size: x-large;
	font-weight: bold;
}
.large{
	font-size: large;
	font-weight: bold;
}
.medium{
	font-size: medium;
}
.small{
	font-size: small;
}





/*gallery.html*/
/*.gallery_item div{
	border: 1px solid #eee;
}*/

.gallery_tab{
	font-size: 14px;
	display: flex;
	margin-top: 10px;
}
.gallery_tab div{
	flex:1;

	background: #fff;
	border-top: 3px solid #c5f;

	padding: 10px;
	margin-right: 1px;
}
.gallery_tab div:hover{
	border-top: 3px solid #608;
}

.gallery_item{
	width: 680px;
	float:left;

	margin-bottom: 40px;
	padding: 10px;
	background: #fff;

	font-size: 0;

	display: flex;
}
.gallery_left{
	flex: 2;
}
.gallery_middle{
	flex:1;
}
.gallery_right{
	flex:1;
}

.gallery_row2{
	display: flex;
}
.left_row1{
	flex:1;
}
.left_row2{
	flex:1;
}

.gallery_item h1{
	font-size: 16px;
	color: #fff;
}
.gallery_item p{
	text-indent: 0;
	color: #fff;
	font-size: 14px;
}
.title_A{
	background: #fb0;
}
.title_J{
	background: #608;
}
.title_U{
	background: #f4f;
}
.title_F{
	background: #f74;
}

.gallery_item img{
	width: 160px;
}
.gallery_row2>div>div{
	margin-right: 10px;
}
.title_A,.title_F,.title_U,.title_J{
	width: 160px;
	border: 1px solid #fff;
}

.left_row1 img,.left_row1 div{
	width: 330px;
}
.left_col1 img{
	height: 150px;
}
.left_col2 img{
	height: 190px;
}
.gallery_middle img{
	height: 140px;
}
.gallery_right img{
	height: 240px;
}


.sidebar_tags{
	font-size: 14px;

	background: #fff;
	padding: 10px;
	margin-top: 10px;
}
.ranking_num{
    background: #608;
    color: #fff;

    border-radius: 8px;
    font-size: 12px;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    text-align: center;
    line-height: 16px;
    display: inline-block;
}

.ranking_bar_wrap{
    position: relative;
    top: 5px;

    width: 100px;
    height: 20px;

    margin-right: 5px;
    border: 1px solid #608;
    display: inline-block;
}

.ranking_bar{
    height: 20px;
    background: #608;
}


/*about.html*/
#about_main{
/*	border: 1px solid #0f0;*/

	overflow: hidden;

	font-size: 14px;
}
#about_main p{
	text-indent: 0;
}
.about_sidebar{
	float: left;
	margin-bottom: -3000px;
	padding-bottom: 3000px;
	width: 485px;

	margin-top: 50px;

	background: #fff;
}
.about_content {
    float: right;
    width: 485px;
    background: #fff;

    margin-top: 50px;
}
#about_main img{
	width: 80px;
	height: 80px;
	border-radius: 50%;

	border:5px solid #eee;
}
.about{
	position: relative;
	width: 300px;
}
.about div{
	border:1px solid #fff;
	margin: 0 0 150px 60px;
	padding-top: 40px;
}
.about img{
	position: absolute;
	left: -50px;
	top: -50px;
}
.about h1{
	position: absolute;
	left: -180px; 
	top: 40px;

	font-size: 20px;
}
#about_intro img{
	width: 160px;
	height: 160px;
	border-radius: 50%;

	left: -92px;
}
#about_intro h1{
	margin-top: 70px;
}
#about_intro p{
	text-indent: 2em;

	margin-top: 70px;
}
#about_exp .about_time{
	text-indent: 0;
}
.about .about_time{
	position: absolute;
	width: 60px;
	height: 30px;
	left: -40px;
	top: 25px;

	font-size: 20px;
	line-height: 30px;

	background: #fff;

	text-align: center;
	border: 5px solid #eee;
	border-radius: 10px;
}